<div *ngIf="selectedAlbum" class="container">
    <div class="row">

        <div style="align-items: end;" class="col">
            <a><i style="font-size:  45px;" class="material-icons"
                    (click)="openCreatePhotoModal()">add_photo_alternate</i></a>
        </div>

        <div class="col"></div>

        <div class="col text-end">
            <h2 [innerText]="'Album '+ selectedAlbum.id"></h2>
        </div>
    </div>
    <app-photo-paginator [paginator]="(selectedPaginator$|async)!"
     (pageSizeChangeEmitter)="changePageSize($event)"
        (pageNavigationEmitter)="changePage($event)"
        (photoSelectedEmitter)="openPhotoViewModal($event)"></app-photo-paginator>

</div>

<div class="clearfix"></div>