<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h3>Photo Id</h3>
            </div>
            <div class="col"></div>
            <div class="col-2">
                Dismiss button
            </div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div>
                <h1>Actual Photo</h1>

                <h4>Photo Title</h4>
            </div>

            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col">
                <i class="material-icons" (click)="editModal()">edit</i>
                <i class="material-icons" (click)="deleteModal()">delete</i>
            </div>
        </div>
    </div>
</div>